h3#info
	a(href='#information', title='Info')
		span.icon.headerSpan.informationIcon Information
#tripplanner.acc_container.info
	h3.spacer Transport Links
	#travellinks
		ul
			li 
				a(target="_blank" , href="http://www.dublinbus.ie") Dublin Bus
				a(target="_blank" , class="twitterlink", href="https://twitter.com/dublinbusnews") News
			li 
				a(target="_blank" , href="http://www.irishrail.ie/home/") Irish Rail
				a(target="_blank" , class="twitterlink", href="http://twitter.com/irishrail/") News
				
			li 
				a(target="_blank" , href="http://www.luas.ie/") Luas
				a(target="_blank" , class="twitterlink", href="http://twitter.com/Luas") News
				
			li 
				a(target="_blank" , href="http://www.dublinbikes.ie/") Dublin Bikes
				a(target="_blank" , class="twitterlink", href="http://twitter.com/dublinbikes2go") News
				
			li 
				a(target="_blank" , href="http://www.aaroadwatch.ie/") AARoadwatch
				a(target="_blank" , class="twitterlink", href="http://twitter.com/AAROADWATCH") News
				
			li 
				a(target="_blank" , href="http://www.dublinairport.com/home.aspx/") Dublin Airport
				a(target="_blank" , class="twitterlink", href="http://twitter.com/dublinairport") News
			li 
				a(target="_blank" , href="http://www.irishferries.com/") Irish Ferries
				a(target="_blank" , class="twitterlink", href="http://twitter.com/irish_ferries") News
				
		
	h3.spacer About Us	
	#about
		p 	Let us know if you have any feedback.
		p	All our directions are best estimates.
		p   We are currently in beta with Dublin Bus routes.
		p	Get in touch via 
			a(target="_blank" , href="mailto:info@whichwaysoftware.com") Email
			|  or 
			a(target="_blank" , href="http://twitter.com/transportdublin") Twitter
			| .
		p	Powered by a 
			a(target="_blank" , href="http://neo4j.org") Neo4j Graph Database
			| .
		p	Find us on   
			a(target="_blank" , href="https://github.com/WhichWay/TransportDublin") Github
			| .	
	
	h3.spacer Share	
	#social_nav_horizontal
		ul#users
			li    
				a(target="_blank" , class="facebook", href="http://www.facebook.com/sharer.php?u=www.TransportDublin.ie") Facebook
			li  
				a(target="_blank" , class="twitter", href="http://twitter.com/home?status=Check out www.TransportDublin.ie Dublin Public Transport Route Planner via @TransportDublin") Twitter
			li 
				a(target="_blank" , class="stumbleupon", href="http://www.stumbleupon.com/submit?url=http://www.TransportDublin.ie/") Stumble
	
	#infobar
		p	Developed by 
			a(target="_blank" , href="http://www.whichwaysoftware.com") Which Way Software
		| .
